.label-search{
  /* font-weight: 200; */
  font-size: 0.7rem;
}
#search{
  border: none;
  color: #333;
  height: 5vh;
  border-radius: 3vh 0 0 3vh;
  padding: 1vh;
  box-sizing: border-box;
}
#search:focus{
  outline: none;

}
.submit-search{
  border: none;
  border-radius: 0 3vh 3vh 0;
  background-color: #BB86FC;

  height: 5vh;
  width: 4rem;
  font-weight: 500;
  font-size: 0.9rem;
}
@media(max-width:750px){
  .label-search{
    display: block;
    width: 100%;
    font-size: 0.6rem;
    text-align: center;
  }
  #search{
    width: 40vw;
  }
  .submit-search{
  
    height: 5vh;
    width: 3rem;
    font-size: 0.8rem;
  }
}