
.types{
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 80%;
}
.types>div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
}
.types>div>a{
  text-decoration: none;
  padding: 1vh 1vw;
}

.steel{
  background-color: #60A2B9;
}
.psychic{
  background-color: #EF4179;
}
.water{
  background-color: #60A2B9;
}
.bug{
  background-color: #2481EF;
}
.dragon{
  background-color: #4F60E2;
}
.electric{
  background-color: #FAC100;
}
.ghost{
  background-color: #703F70;
}
.fire{
  background-color: #E72324;
}
.fairy{
  background-color: #EF70EF;
}
.ice{
  background-color: #60A2B9;
}
.fighting{
  background-color: #FF8100;
}
.normal{
  background-color: #9FA19F;
}
.plant{
  background-color: #3FA129;
}
.rock{
  background-color: #AFA981;
}
.dark{
  background-color: #50413F;
}
.ground{
  background-color: #915121;
}
.poison{
  background-color: #923FCC;
}
.flying{
  background-color: #81B9EF;
}